ul.list-group
  li.list-group-item.pln
    .row.man
      .col-xs-3.col-sm-3.col-md-3.col-lg-3.phxl
        span.h1.pan.man.icon-nodejs.type-neutral-5(style='top: 4px; left: 2px; position: relative;')
      .col-xs-12.col-sm-15.col-md-15.col-lg-15
        .type-neutral-4.small
          div BUILDPACK
        .type-ellipsis
          | Node.js
      .col-xs-9.col-sm-6.col-md-6.col-lg-6.ptl.txt-r.type-ellipsis
        a.type-accent-4(href='https://docs.cloudfoundry.org/buildpacks/', target='_blank')
          span.small Buildpacks
          span.fa.fa-icon.fa-external-link.plm.txt-m.small
  